@media screen and (min-width:320px) {
  * {
    box-sizing: border-box;
  }

  body {
    background-color: #f4f8fc;
  }

  .row .col {
    padding: 0;
  }

  .row{
    margin-bottom: 0;
  }

  :root {
    --main-background-color: white;
  }

  .fixed-header {
    background-color: var(--main-background-color);
  }

  .col.s12.title {
    font-size: 24px;
    color: #42A5F5;
  }

  .col.s12.title,
  .calendar {
    text-align: center;
    text-transform: uppercase;
  }

  .calendar {
    font-size: 18px;
  }

  .fit-container .col .row {
    margin: 0;
  }

  .fit-container {
    padding: 20px;
  }

  .col.s2.nav {
    padding: 15px;
    background-color: var(--main-background-color);
  }

  .col.s2.user {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .col.s2.measurements {
    height: 3vh;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
  }

  .col.s2.user,
  .col.s2.links {
    height: 18vh;
  }

  .card {
    margin: 0;
  }

  img.circle {
    height: 60px;
    width: 60px;
  }

  .user {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }

  .user-measurements {
    border-radius: 0;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .user-measurements .card-stacked:nth-child(1) {
    border-right: 1px solid lightgray;
  }

  .links {
    border-radius: 0;
  }

  .user-height-container {
    border-right: 1px solid lightgray;
  }

  .user-height,
  .user-weight {
    color: #64b5f6;
    text-transform: uppercase;
  }

  .lb {
    color: #999999;
  }

  .overview,
  .goal,
  .stats,
  .exercises,
  .workout-plan {
    font-size: 18px;
    color: #666666;
    cursor: pointer;
    text-transform: uppercase;
  }

  .overview i,
  .goal i,
  .stats i,
  .exercises i,
  .workout-plan i {
    font-size: 24px;
    margin-right: 20px;
  }

  .icon-color {
    color: #64b5f6;
  }

  .overview,
  .stats,
  .goal,
  .exercises,
  .workout-plan {
    height: 43px;
  }

  .fit-card {
    height: 180px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .congrats {
    height: 140px;
    /* width: 266px; */
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }
                                              /********** CARDS COMPONENT *********/
  .exercise-card {
    background-image: linear-gradient(to bottom right, #4facfe, #00f2fe);
  }

  .sleep-card {
    background-image: linear-gradient(to bottom right, #19d191, #39fb90);
    margin-bottom: 15px;
  }

  .exercise-card,
  .sleep-card {
    height: 170px;
    border-radius: 15px;
    margin-top: 15px;
  }

  .exercising-icon i,
  .sleeping-icon i{
    font-size: 60px;
  }

  .card-workout,
  .card-sleep {
    font-size: 30px;
  }

  #chartdiv {
    width: 135%;
    height: 250px;
    margin-top: -85px;
    margin-left: -20px;
  }

  #exerciseChart {
	  width		: 90%;
	  height		: 189px;
	  font-size	: 11px;
    margin-top: -43px;
    margin-left: 20px;
  }

  textarea.materialize-textarea:focus:not([read-only]),
  input.materialize-input:focus:not([read-only])) {
    border-bottom: 1px solid #2196F3;
  }

  .btn,
  .btn:hover {
    background-color: #2196F3;
  }

  [type="radio"]:checked+span:after,
  [type="radio"].with-gap:checked+span:before,
  [type="radio"].with-gap:checked+span:after,
  [type="radio"]:checked+span:after,
  [type="radio"].with-gap:checked+span:before,
  [type="radio"].with-gap:checked+span:after {
    border: 2px solid #2196F3;
}

@media screen and (min-width:599px) {

  .col.m6.title {
    font-size: 35px;
    padding-left: 20px;
  }

  .col.m6.title,
  .calendar {
    text-align: left;
  }

  .calendar,
  .logout {
    font-size: 20px;
    margin-top: 15px;
  }

  .exercise-card {
    margin-right: 20px;
  }

  .exercise-card,
  .sleep-card {
    height: 180px;
    margin-top: 0;
  }

  #tabExerciseID .tab.col.s3 {
    width: 14%;
  }

  #chartdiv {
    width: 120%;
    height: 240px;
    margin-top: -64px;
    margin-left: 5px;
  }

  #exerciseChart {
    width		: 165%;
	  height		: 220px;
    margin-left: 40px;
  }

  .hh {
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.19;
    z-index: -1;
  }
}

@media screen and (min-width:767px) {
  .user-profile {
    position: fixed;
  }
}
@media screen and (min-width:992px) {

}





                                    /********** MAIN COMPONENT *********/
